@import './app/mixins';
@import './app/variables';

html {
  @include basic-flex(center, center);
  @include width-height(100vw, 100vh);
}

body, app-root, .main-app {
  @include width-height(inherit, inherit);
  @include basic-flex(center, center);
}

body {
  @include reset-padding-margin();
}

app-root {
  .main-app {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas:
        "nv nv nv nv nv nv nv nv nv nv"
        "pg pg pg pg pg pg pg pg pg pg"
        "pg pg pg pg pg pg pg pg pg pg"
        "pg pg pg pg pg pg pg pg pg pg"
        "pg pg pg pg pg pg pg pg pg pg"
        "pg pg pg pg pg pg pg pg pg pg"
        "pg pg pg pg pg pg pg pg pg pg"
        "pg pg pg pg pg pg pg pg pg pg"
        "pg pg pg pg pg pg pg pg pg pg"
        "pg pg pg pg pg pg pg pg pg pg"
    ;

    app-navbar {
      @include width-height(100%, 100%);
      grid-area: nv;
      background-color: rgb(188, 166, 166);
    }

    app-login-page, app-user-profile-page, app-login-card {
      @include width-height(100%, 100%);
      @include basic-flex(center, center);
      background-color: $white-background-s2;
      grid-area: pg;
    }

    app-login-page {
      app-login-card {
        @include reset-padding-margin();
      }
    }
  
    app-user-profile-page {
      app-profile-grid {
        @include basic-flex(flex-end, flex-end);
        @include width-height(inherit, inherit);
        @include reset-padding-margin();
      }
    }
  }
}