@if(currentUrl === '/profile') {
    <p class="title">{{(user$ | async)?.name?.first || cachedUser?.name?.first}} {{(user$ | async)?.name?.last || cachedUser?.name?.last}}</p>
}
<mat-sidenav-container class="example-container" [hasBackdrop]="true">
    <mat-sidenav #sidenav [mode]="'side'" [position]="'end'">
        <p><button class="burger-close" mat-button (click)="sidenav.toggle()">Collapse</button></p>
        <p><button mat-button (click)="logout(); sidenav.toggle()">Log Off</button></p>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <p><button class="burger-menu" mat-button (click)="sidenav.toggle()">=</button></p>
    </mat-sidenav-content>

</mat-sidenav-container>