@import './../../../mixins';
@import './../../../variables';

// Card Grid
.login-card {
    @include width-height(50%, 60%);
    background-color: $white-background-s1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
        "ch ch"
        "cc cc"
    ;

    .card-header, .card-content, #email-input, #password-input  {
        @include width-height(100%, 100%);
    }

    .card-header {
        @include basic-flex(center, center);
        grid-area: ch;
    }

    .card-content {
        grid-area: cc;
    }
}

.card-logo {
    @include width-height(180px, 150px);
}

.card-content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);

    grid-template-areas:
        ". usr usr usr . . ."
        ". usrinp usrinp usrinp usrinp usrinp ."
        ". psw psw psw . . ."
        ". pswinp pswinp pswinp pswinp pswinp ."
        ". . . . . . ."
        ". . lgnbtn lgnbtn lgnbtn . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
    ;
}

// Regulat HTML components

input {
    padding: 0;
    padding-block: 0;
    padding-inline: 0;
    border-width: 0.1px;
    border-color: $input-border;
}

button {
    background-color: $button-primary;
    border-radius: 0.5em;
    border: none;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: $button-hover;
    color: $white-background-s1;
}

// Form Grid Components
#email-label, #password-label {
    @include basic-flex(flex-start, center);
    font-family: Arial, Helvetica, sans-serif
}

#email-label {
    grid-area: usr;
}

#email-input {
    grid-area: usrinp;
}

#password-label {
    grid-area: psw;
}

#password-input {
    grid-area: pswinp;
}

#login-btn {
    grid-area: lgnbtn;
}