<div class="login-card">
  <div class="card-header">
    <img class="card-logo" src="./../../../../assets/logo.png" alt="logo" />
  </div>

  <form (ngSubmit)="login()" class="card-content">
    <label id="email-label" for="email">Username</label>
    <input id="email-input" type="email" name="email" />
    <label id="password-label" for="password">Password</label>
    <input id="password-input" type="password" name="password" /> 
    <button id="login-btn" type="submit">LOGIN</button>
  </form>
</div>
