<div class="profile-grid">
    <div class="avatar">
        <div class="user-icon">
            <span></span>
        </div>
    </div>
    
    <button id="balance-btn">{{((user$ | async)?.balance)}}</button>
    <button id="edit-btn" (click)="openDialog()">EDIT</button>

    <div id="details-list">
        <ul>
            <li><b>balance:</b> {{((user$ | async)?.balance)}}</li>
            <li><b>age:</b> {{(user$ | async)?.age}}</li>
            <li><b>eyeColor:</b> {{(user$ | async)?.eyeColor}}</li>
            <li><b>company:</b> {{(user$ | async)?.company}}</li>
            <li><b>email:</b> {{(user$ | async)?.email}}</li>
            <li><b>phone:</b> {{(user$ | async)?.phone}}</li>
            <li><b>address:</b> {{(user$ | async)?.address}}</li>
        </ul>
    </div>
</div>
  